<% include partials/header %>

<!-- / is needed for files in a sub directory -->
<link rel="stylesheet" href="/app.css">

<h1> Current Posts </h1>

<% posts.forEach(function(post){ %>
    <li>
        <%= post.title %> - <strong><%= post.author %></strong>
    </li>
<% }) %>


<% include partials/footer %>